
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    
}

.container .img {
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.img img {
    height: 100%;
    width: 100%;

}

.right{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-top: 20px;
    flex-direction: column;

}

/* .back > a {
    text-decoration: none;
    font-weight: bold;
}

.back{
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

*/

header {
    position: fixed;
    width: 30%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    
}

header .info{
    display: flex;
    flex-direction: column;
    align-items: end;
}


.profile  {
    margin-top: 20%;
    display: flex;
    font-size : x-large; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200    ;
    

}

.text{
    bottom: 5%;
    display: flex;
    color: lightgrey;
    width: 70%;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
  
}

/* .moreinfo{
    color:  rgb(165, 175, 150);
    display: flex;
    flex-direction: column;
    
} */

/* .tet{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: small;             
}

.number{
    width: 400px;
    border-radius: 5px;
    height: 7vh;
}

.address{
    width: 400px;
    border-radius: 5px;
    height: 7vh;
    padding-right: 220px;
    color:  rgb(165, 175, 150);
}
.add{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: small;
}

.country{
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: small; 
}

.resi{
    width: 400px;
    border-radius: 5px;
    height: 7vh;
    color:  rgb(165, 175, 150);
    
}

.cont{
    margin-top: 40px;

}

.save{
    background-color: rgb(49, 49, 241);
    width: 400px;
    border-radius: 5px;
    height: 7vh;
    border: 0cap;
    color: rgb(250, 250, 252);

} */

.componet{
    padding-left: 150px;
    margin-top: 30px;
    flex-direction: column;
    display: flex;
}

.safety{
    margin-top: 20px;   
    color: rgb(200, 212, 183);
    font-size: 11px; text-align: center; 
}

.safety > a{
    text-decoration: none;
    
  

}

/* .number > a{
  
    border-width: 0 3px 3px 0;
    padding-right: 250px;
}

.resi > a {
    border-width: 0 3px 3px 0;
    padding-left: 250px;
} */

select{
    width: 400px;
    padding: 1.2em;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;  
}

select option {
    color: lightgrey;
}


.input-details{
    width: 370px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;

}

.input-details input {
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    padding: 1.2em;
    border-radius: 5px;  
}
.input-details input:hover{
    border-color:   rgb(21, 21, 243);
}

.input-details input::placeholder{
    color: lightgrey;
}

.input-details input:focus {
    color: blue;
}

.sav{
    background-color: rgb(49, 49, 241);
    width: 400px;
    border-radius: 5px;
    height: 6vh;
    border: 0cap;
    color: rgb(250, 250, 252);
    margin-top: 5%;
    margin-bottom: 3px;
}

.safety >p{
   display: flex;
   justify-content:center ;
   padding-left: 7px;

}

